@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap&subset=cyrillic');
* {
    padding: 0;
    box-sizing: border-box;    
}
.button-1 {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button-1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #32D4E2;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button-1:hover:before {
    transform: translate(4px, 4px);
}
body {
    font-family: 'Montserrat', sans-serif;
}
body {
    background: #ffbfbe;
}

.shine-button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #fe6637;
    transition: .2s ease-in-out;
}

.shine-button:before {
    content: "Проверить";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

.shine-button:hover {
    background: #fe6637;
    color: #fff;
}

.shine-button:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}
.r {
    color: #232323;
    background: transparent;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'monospace', monospace;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
}
.button-2 {
    text-decoration: none;
    position: relative;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-family: monospace;
    font-size: 16px;
    color: #232323;
}
.button-2 span {
    position: relative;
}
.button-2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    background: #C4F1FF;
    transition: .3s ease-in-out;
}
.button-2:hover:before {
    width: 100%;
}