body {
    font-family: 'Montserrat', sans-serif;
}
body {
    background: #c4fffb;
}

.dr {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #61ffd0;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    transition: .2s ease-in-out;
}
.shine-button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #667fff;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #667fff;
    transition: .2s ease-in-out;
}

.shine-button:before {
    content: "Проверить";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

.shine-button:hover {
    background: #667fff;
    color: #ffffff;
}

.shine-button:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}